body{
    background:linear-gradient(90deg, #4cbb17,#48872b,#4cbb17);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    text-shadow: 5px 0px 5px aquamarine;
}

@media all and (min-width:1024px){
    .charities{
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: justify;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 2% 2%;
        gap: 1% 1%;
        background-color: rgb(178, 234, 12);
        border: 10px solid rgb(136, 136, 1);
        align-content: space-between;
    }

    .navbar a{
        display: flex;
        flex-direction: row;
        color: purple;
        text-align: center;
        font-size: 150%;
    }

    .navbar a:hover{
        background-color: beige;
    }

    #homeImg{
        position: relative;
        z-index: 1;
        opacity: 90%;
        width: 90vw;
        height: 50vh;
    }

    #homeText{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: 0px 0px 10px #84d428;
        position: absolute;
        z-index: 2;
        top: 35vh;
        left: 30vw;
    }

}

@media all and (min-device-width: 320px) and (max-device-width: 767px) {
    #homeText{
        display: none;
    }

    #homeImg{
        display: none;
    }

    body{
        display: flex;
        font-size: medium;
    }
}

@media all and (min-device-width: 768px) and (max-device-width: 1023px) {
    #homeText{
        display: none;
    }

    #homeImg{
        width:90vw;
        height: 50vh;
    }

    body{
        display: flex;
        font-size: 25px;
    }
}
