body{
    background:linear-gradient(90deg, #4cbb17,#48872b,#4cbb17);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2% 2%;
    gap: 1% 1%;
    background-color: gold;
    border: 10px solid purple;
    align-content: space-between;
}

.navbar a{
    display: flex;
    flex-direction: row;
    color: purple;
    text-align: center;
    font-size: 150%;
}

.navbar a:hover{
    background-color: beige;
}
